     <section class="img-big--box">
         <div *ngIf="listings_error">An error occurred while loading the foods!</div>
  <div>
    <div *ngFor="let listing of listings">{{listing}}</div>
  </div>
           </section>

           <section>
            <table>
            <tr>
                <th>
                <a class="btn " href="#">
                <i class="fa fa-cutlery  fa-4x" aria-hidden="true"></i>
                </a>
                </th>

                <td>
                </td>

                <td>
                </td>
            </tr>

              <tr>
                <th>
                 <a class="btn " href="#">
                 <i class="fa fa-shopping-basket  fa-4x" aria-hidden="true"></i>
                 </a>
                </th>

                <td>
                </td>

                <td>
                </td>
            </tr>

              <tr>
                <th>
                <a class="btn " href="#">
                <i class="fa fa-usd  fa-4x" aria-hidden="true"></i>
                </a>
                </th>

                <td>
                </td>

                <td>
                </td>
            </tr>

            <tr>
                <th>
                 <a class="btn" href="#">
                <i class="fa fa-circle-o fa-2x" aria-hidden="true"></i>
                <i class="fa fa-circle-o fa-2x" aria-hidden="true"></i>
                <i class="fa fa-circle-o fa-2x" aria-hidden="true"></i>
                </a>
                </th>

                <td>
                </td>

                <td>
                </td>
            </tr>


            </table>

           </section>
          </div>